/* Inicio de style HEADER */
body {
  position: relative;
}

header {
  background-color: #f8f9fa!important;
  position: sticky!important;
  top: 0;
  width: 100%;
}

header .nav{
    background-color: #f8f9fa!important;
    min-height: 10vh;
    width: 100%;
}

header nav ul li{
    display: table-cell;
    position: relative;
    padding: 15px 0;
  }
header nav ul li a {
    color: #000;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }

header nav .navbar-brand {
    letter-spacing: 0.20em;
    text-decoration: line-through;
}

header nav ul li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

header nav ul li a:hover:after {
    width: 100%;
    left: 0;
  }

/* Fin de style HEADER */

/* Inicio de style INICIO */

.__inicio {
  height: 90vh;
}

.__inicio article h1 {
  font-size: 4rem;
  line-height: 1.2;
  text-align: left;
}

.__inicio article h4 {
  font-size: 1rem;
  line-height: 1;
  text-align: left;
}
/* Fin de style INICIO */

/* Inicio de style FOOTER */

.__footer {
  width: 100%;
  -webkit-box-shadow: 0px -6px 6px -3px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px -6px 6px -3px rgba(0, 0, 0, 0.42);
  box-shadow: 0px -6px 6px -3px rgba(0, 0, 0, 0.42);
}

.__footer a {
  color: #fff;
  text-decoration: none;
}

/* Inicio de style FOOTER */